.MainContainer {
    text-align: center;
}

.GameContainer {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    margin: auto;
    padding: 10px;
}

.title {
    background-color: white;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.AdminBar {
    text-align: center;
}

.AdminBar > * {
    margin: 0 10px;
}

.BombsRemaining {
}

.Timer {
    color: red;
}

.Restart {
}

.Board {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.Tile_container {
    border: none;
    padding: 0;
    line-height: 0;
}

.Tile_container_hidden {
    border: 1px solid gray
}

.Tile {
    border: none;
    border-radius: 0;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px;
}

.Tile:hover {
    background-color: red;
}

.Tile_revealed {
    background-color: white;
}

.Tile_unrevealed {
    background-color: lightgray;
}

.Tile_explosion {
    background-color: red;
}

.Tile_bombCount1 {
    color: blue;
}

.Tile_bombCount2 {
    color: green;
}

.Tile_bombCount3 {
    color: red;
}

.Tile_bombCount4 {
    color: purple;
}

.Tile_bombCount5 {
    color: darkred;
}

.Tile_bombCount6 {
    color: teal;
}

.Tile_bombCount7 {
    color: black;
}

.Tile_bombCount8 {
    color: gray;
}

.setupContainer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
    width: 400px;
    text-align: center;
}

.difficultyButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.difficultyButton:hover {
    color: var(--blue);
    cursor: pointer;
}